In [1]:
import numpy as np
import pandas as pd
import openpyxl
from datetime import datetime
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
weight_data = pd.read_csv('./player_data/WA_weight_data.csv', index_col=['Name'])

In [4]:
weight_data.head()

,No.,Position,Weight(mean),2019-09-30,2019-10-01,2019-10-02,2019-10-03,2019-10-04,2019-10-05,2019-10-06,2019-10-07
Name,,,,,,,,,,,
Player 1,1,CB,57.7,57.7,57.2,57.6,57.1,57.6,57.2,57.6,55.0
Player 2,2,CB,54.6,54.6,54.5,54.1,54.2,54.1,54.5,54.9,55.0
Player 3,3,CB,60.7,60.7,60.7,60.6,60.1,59.9,61.1,60.7,55.0
Player 4,4,CB,60.3,60.3,59.3,59.2,59.5,59.9,59.7,59.5,55.0
Player 5,5,WB,60.9,NaN,60.9,61.1,61.0,61.2,NaN,61.0,55.0

In [5]:
weight_data.groupby('Position').mean()

,No.,Weight(mean),2019-09-30,2019-10-01,2019-10-02,2019-10-03,2019-10-04,2019-10-05,2019-10-06,2019-10-07
Position,,,,,,,,,,
CB,2.5,58.325000,58.325000,57.925000,57.875000,57.725000,57.875000,58.125000,58.175000,55.0
FW,19.5,52.950000,54.400000,52.300000,52.600000,52.600000,52.400000,52.950000,52.800000,55.0
GK,22.0,68.533333,68.533333,67.800000,68.133333,68.066667,68.300000,68.433333,68.866667,55.0
MF,10.5,56.650000,56.650000,56.366667,56.466667,56.733333,56.483333,56.816667,56.600000,55.0
WB,6.0,56.100000,53.700000,56.000000,56.033333,55.966667,55.900000,53.800000,56.133333,55.0
WF,16.0,56.040000,53.950000,55.580000,55.640000,55.720000,55.660000,56.080000,56.000000,55.0

In [6]:
weight_data.describe()

,No.,Weight(mean),2019-09-30,2019-10-01,2019-10-02,2019-10-03,2019-10-04,2019-10-05,2019-10-06,2019-10-07
count,23.00000,23.000000,20.000000,23.000000,23.000000,23.000000,23.000000,22.000000,23.000000,23.0
mean,12.00000,57.965217,57.820000,57.556522,57.660870,57.704348,57.656522,57.845455,57.952174,55.0
std,6.78233,6.091022,6.203191,6.062615,6.080052,6.036064,6.142832,6.109300,6.106693,0.0
min,1.00000,48.700000,48.700000,48.400000,48.300000,48.400000,48.600000,49.100000,49.200000,55.0
25%,6.50000,53.850000,53.925000,53.400000,53.700000,53.800000,53.500000,53.575000,53.700000,55.0
50%,12.00000,56.300000,56.300000,56.600000,56.800000,57.100000,56.300000,56.800000,57.300000,55.0
75%,17.50000,60.800000,60.400000,60.800000,60.850000,60.550000,60.450000,60.750000,60.850000,55.0
max,23.00000,78.100000,78.100000,77.500000,77.200000,77.700000,77.800000,77.300000,78.000000,55.0

In [7]:
date_index = weight_data.columns[3:]

In [9]:
weight_data.loc['Player 1'][3:]

2019-09-30    57.7
2019-10-01    57.2
2019-10-02    57.6
2019-10-03    57.1
2019-10-04    57.6
2019-10-05    57.2
2019-10-06    57.6
2019-10-07      55
Name: Player 1, dtype: object

In [10]:
weight_data.index

Index(['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5', 'Player 6',
       'Player 7', 'Player 8', 'Player 9', 'Player 10', 'Player 11',
       'Player 12', 'Player 13', 'Player 14', 'Player 15', 'Player 16',
       'Player 17', 'Player 18', 'Player 19', 'Player 20', 'Player 21',
       'Player 22', 'Player 23'],
      dtype='object', name='Name')

In [19]:
WA = openpyxl.Workbook()
ws = WA.active
ws.title = 'WA_weight_team'

In [20]:
for r in dataframe_to_rows(weight_data, index=True, header=True):
    ws.append(r)

In [18]:
WA.save('./total_data/WA_weight.xlsx')

In [21]:
for player in weight_data.index:
    pws = WA.create_sheet(player)
    weight = weight_data.loc[player][3:]
    w_df = pd.DataFrame(weight, index=date_index)
    for r in dataframe_to_rows(w_df, index=True, header=True):
        pws.append(r)

In [22]:
WA.save('./total_data/WA_weight.xlsx')